<!DOCTYPE html>
<html>

<head>
  <%- include('./partial/head'); %>
</head>
<header>
  <%- include('./partial/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>This is <%= title %></h1>
    <p>Welcome to templating using EJS</p>
  </div>
  </body>

</html>